body {
    /* this is what determines 1rem */
    font-size: 14px;
}

/* UTILITY STYLE CLASSES */
/* make sure that no markup in the svelte components is given these classes/tags/etc unless done so intentionally, because these styles will apply */

.center {
    display: flex;
    justify-content: center;
}

.row:not(:last-child) {
    margin-bottom: .75rem;
}

section {
    padding: 1rem .75rem;
}
section:not(:last-child) {
    border-bottom: .1rem solid var(--col-primary);
}
